{% extends 'muertes_hospitalarias/base.html' %}

{% block title %}Lista de Pacientes{% endblock %}

{% block content %}
    <h1>Generar Informe</h1>
    <div class="container">
        <!-- Sección de Filtros -->
        <div class="filters">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Buscar</button>
            </form>
        </div>

        <!-- Sección de Resultados -->
        <div class="results">
            {% if informes %}
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>RUT</th>
                            <th>Causa de Muerte</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Fecha de Muerte</th>
                            <th>Hora de Muerte</th>
                            <th>Género</th>
                            <th>Hospital</th>
                            <th>Médico</th>
                            <th>Edad</th>
                            <th>Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for informe in informes %}
                            <tr>
                                <td>{{ informe.nombre }}</td>
                                <td>{{ informe.rut }}</td>
                                <td>{{ informe.causa_muerte }}</td>
                                <td>{{ informe.fecha_nacimiento }}</td>
                                <td>{{ informe.fecha_muerte }}</td>
                                <td>{{ informe.hora_muerte }}</td>
                                <td>{{ informe.genero }}</td>
                                <td>{{ informe.hospital }}</td>
                                <td>{{ informe.medico }}</td>
                                <td>{{ informe.edad }}</td>
                                <td>{{ informe.detalles_muerte }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Botón para descargar el PDF -->
                <form action="{% url 'generar_pdf_informe' %}" method="get">
                    <button type="submit">Descargar Informe en PDF</button>
                </form>

            {% else %}
                <p class="no-results">No se encontraron resultados.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
