<h1>Informe del Paciente</h1>
<table>
    <tr><td>Nombre:</td><td>{{ informe.nombre }}</td></tr>
    <tr><td>RUT:</td><td>{{ informe.rut }}</td></tr>
    <tr><td>Causa de Muerte:</td><td>{{ informe.causa_muerte }}</td></tr>
    <tr><td>Fecha de Nacimiento:</td><td>{{ informe.fecha_nacimiento }}</td></tr>
    <tr><td>Fecha de Muerte:</td><td>{{ informe.fecha_muerte }}</td></tr>
    <tr><td>Hora de Muerte:</td><td>{{ informe.hora_muerte }}</td></tr>
    <tr><td>Detalles de Muerte:</td><td>{{ informe.detalles_muerte }}</td></tr>
    <tr><td>Género:</td><td>{{ informe.genero }}</td></tr>
    <tr><td>Hospital:</td><td>{{ informe.hospital }}</td></tr>
    <tr><td>Médico:</td><td>{{ informe.medico }}</td></tr>
    <tr><td>RUT Médico:</td><td>{{ informe.rut_medico }}</td></tr>
    <tr><td>Edad:</td><td>{{ informe.edad }}</td></tr>
</table>
