{% extends 'muertes_hospitalarias/base.html' %}
{% load custom_filters %}

{% block title %}Análisis Estadístico{% endblock %}

{% block content %}
<h1>Análisis Estadístico</h1>
<p id="fecha-hora"></p>

<script>
    // Función para mostrar la fecha y hora actual
    function mostrarFechaHora() {
        const ahora = new Date(); // Obtiene la fecha y hora actuales
        const opciones = { 
            year: 'numeric', 
            month: 'long', 
            day: 'numeric', 
            hour: '2-digit', 
            minute: '2-digit', 
            second: '2-digit', 
            hour12: false 
        };
        const fechaHoraFormateada = ahora.toLocaleString('es-CL', opciones); // Formatea la fecha y hora
        document.getElementById('fecha-hora').textContent = fechaHoraFormateada; // Muestra en el HTML
    }

    // Llama a la función de mostrarFechaHora cada segundo
    setInterval(mostrarFechaHora, 1000); // 1000 milisegundos = 1 segundo
</script>
<p>Total de Pacientes: {{ total_pacientes }}</p>

<h2>Muertes por Género</h2>
<table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
    <thead>
        <tr style="background-color: #0000008a;">
            <th style="border: 1px solid #ddd; padding: 8px;">Género</th>
            <th style="border: 1px solid #ddd; padding: 8px;">Total</th>
            <th style="border: 1px solid #ddd; padding: 8px;">Porcentaje</th>
        </tr>
    </thead>
    <tbody>
        {% for item in muertes_por_genero %}
        <tr>
            <td style="border: 1px solid #ddd; padding: 8px;">{{ item.genero }}</td>
            <td style="border: 1px solid #ddd; padding: 8px;">{{ item.count }}</td>
            <td style="border: 1px solid #ddd; padding: 8px;">{{ item.porcentaje|floatformat:2 }}%</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Muertes por Hospital</h2>
<table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
    <thead>
        <tr style="background-color: #0000007e;">
            <th style="border: 1px solid #ddd; padding: 8px;">Hospital</th>
            <th style="border: 1px solid #ddd; padding: 8px;">Total</th>
            <th style="border: 1px solid #ddd; padding: 8px;">Porcentaje</th>
        </tr>
    </thead>
    <tbody>
        {% for item in muertes_por_hospital %}
        <tr>
            <td style="border: 1px solid #ddd; padding: 8px;">{{ item.hospital__nombre_hospital }}</td>
            <td style="border: 1px solid #ddd; padding: 8px;">{{ item.count }}</td>
            <td style="border: 1px solid #ddd; padding: 8px;">{{ item.porcentaje|floatformat:2 }}%</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Muertes por Causa</h2>
<table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
    <thead>
        <tr style="background-color: #0000008a;">
            <th style="border: 1px solid #ddd; padding: 8px;">Causa de Muerte</th>
            <th style="border: 1px solid #ddd; padding: 8px;">Total</th>
            <th style="border: 1px solid #ddd; padding: 8px;">Porcentaje</th>
        </tr>
    </thead>
    <tbody>
        {% for item in muertes_por_causa %}
        <tr>
            <td style="border: 1px solid #ddd; padding: 8px;">{{ item.causa_muerte__nombre_causa }}</td>
            <td style="border: 1px solid #ddd; padding: 8px;">{{ item.count }}</td>
            <td style="border: 1px solid #ddd; padding: 8px;">{{ item.porcentaje|floatformat:2 }}%</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Porcentajes por Tramo de Edad</h2>
<table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
    <thead>
        <tr style="background-color: #0000007e;">
            <th style="border: 1px solid #ddd; padding: 8px;">Tramo de Edad</th>
            <th style="border: 1px solid #ddd; padding: 8px;">Total</th>
            <th style="border: 1px solid #ddd; padding: 8px;">Porcentaje</th>
        </tr>
    </thead>
    <tbody>
        {% for item in porcentajes_tramo_edad %}
        <tr>
            <td style="border: 1px solid #ddd; padding: 8px;">{{ item.tramo }}</td>
            <td style="border: 1px solid #ddd; padding: 8px;">{{ item.cantidad }}</td>
            <td style="border: 1px solid #ddd; padding: 8px;">{{ item.porcentaje|floatformat:2 }}%</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form method="get" action="{% url 'pdf_view' %}">
    <button type="submit" style="margin-top: 20px;">Descargar PDF</button>
</form>

{% endblock %}
