{% extends 'muertes_hospitalarias/base.html' %}

{% block title %}Lista de Pacientes{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pacientes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Lista de Pacientes</h1>

        <!-- Barra de búsqueda -->
        <form method="GET" class="mb-3">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Buscar paciente por nombre" aria-label="Buscar paciente" value="{{ request.GET.q }}">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </div>
        </form>

        <a href="{% url 'paciente-create' %}" class="btn btn-primary mb-3">Agregar Paciente</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>RUT</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Fecha de Muerte</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for paciente in object_list %}
                <tr>
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.rut_paciente }}-{{ paciente.dv }}</td> <!-- Asegúrate de que 'dv' sea un atributo de tu modelo -->
                    <td>{{ paciente.fecha_nacimiento }}</td>
                    <td>{{ paciente.fecha_muerte }}</td>
                    <td>
                        <a href="{% url 'paciente-edit' paciente.pk %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'paciente-delete' paciente.pk %}" class="btn btn-danger">Eliminar</a>
                        <a href="{% url 'paciente-detail' paciente.pk %}" class="btn btn-info">Detalles</a> <!-- Botón para ver detalles -->
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No hay pacientes registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
{% endblock %}